body {
    background-color: rgb(19, 19, 19);
}

* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table,
tr,
td {
    border: 1px solid #fff;
    border-collapse: collapse;
    background-color: #0d88ad;
    font-size: 1.3em;
    color: #fff;
}

td {
    width: 10vw;
    height: min(1.5em, 10vw);
    max-width: 1.5em;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

td:hover {
    background-color: #104657;
}

td:first-child {
    border-left: 3px solid #fff;
}
td:nth-child(3n + 1) {
    border-left: 3px solid #fff;
}
tr:first-child {
    border-top: 3px solid #fff;
}
tr:nth-child(3n) td {
    border-bottom: 3px solid #fff;
}
td:last-child {
    border-right: 3px solid #fff;
}

.btn-special {
    display: flex;
    background-color: #383838;
    color: #fff;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
    padding: 0.3em 1em;
    margin: 0.2em 0.2em 0.2em 0em;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.btn-special:hover {
    background-color: #1f1f1f;
}

.btn-special:first-child {
    margin: 0.2em;
}

#buttons-container {
    display: flex;
}

#num-container {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
}

#num-container > .btn-special {
    padding: 0.1em 0.3em;
}